.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10;
    padding-bottom: 10px;
    padding: 10px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-menu-li {
    padding-right: 15px;
    height: 30px;
    border-right: 1px solid #00103d2d;
    display: flex;
    align-items: center;
}

.navbar-menu-a {
    font-size: 18px;
    color: #2C2D2E;
    transition: color 0.2s ease;
}

.navbar-menu-a:hover {
    color: #EF7C00;

}
.toggle{
    display: none;
    font-size: 40px;
    color: #EF7C00;
}

@media (max-width:1100px) {
    .navbar-menu{
        display: none;
    }
    .toggle{
        display: inline-block;
    }
}