@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;  
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.react-tabs__tab-list {
  border-bottom: none;
}